<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" autoReload="true">

  <targets async="true">
    <target name="DR" xsi:type="File" fileName="${basedir}/DR/DR_${shortdate}.log" layout="${longdate}|${message}" />
    <target name="Log" xsi:type="File" fileName="${basedir}/logs/Log_${shortdate}.log"  layout="${longdate}|${level}|${message}" />
    <target name="Noti" xsi:type="File" fileName="${basedir}/logs/Noti_${shortdate}.log"  layout="${longdate}|${message}" />
  </targets>

  <rules>
    <logger name="DR"   writeTo="DR" />
    <logger name="Log"   writeTo="Log" />
    <logger name="Noti"   writeTo="Noti" />
  </rules>
</nlog>